<div class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-2 control-label" highlight>Last Name</label>

        <div class="col-lg-6">
            <input type="text" class="form-control" name="LastName" placeholder="Last Name" [(ngModel)]="register.LastName">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Age</label>
        <div class="col-lg-6">
            <ng2-datepicker [(ngModel)]="register.DateOfBirth"></ng2-datepicker>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">DOB</label>
        <div class="col-lg-6">
            <input [(ngModel)]="register.DOB" datepicker>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-6">
            <input class="form-control" name="Email" id="inputEmail" placeholder="Email" [(ngModel)]="register.Email" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Gender</label>
        <div class="col-lg-6">
            <input name="gender" type="radio" [(ngModel)]="register.Gender" value="M">Male
            <input name="gender" type="radio" [(ngModel)]="register.Gender" value="F">Female
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Countries</label>
        <!--<div class="col-lg-6">
            <select class="form-control" name="country" [(ngModel)]="register.Country">
               <option *ngFor="let country of Countries" [ngValue]="country.code">{{country.name}}</option>
           </select>
        </div>-->
        <div class="col-lg-6">

            <typeahead type="text" class="form-control" [(ngModel)]="SelectedCountry" [list]="Countries" [searchProperty]="'name'" [displayProperty]="'name'" [maxSuggestions]="10" (suggestionSelected)="countrySelected($event)" placeholder="Search Country">
            </typeahead>

        </div>

    </div>


    <div class="form-group">
        <label class="col-lg-2 control-label">I Agree</label>
        <div class="col-lg-6">
            <input type="checkbox" name="iAgree" [(ngModel)]="register.Agree">
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-6 col-lg-offset-2">
            <button type="submit" class="btn btn-primary" name="registerButton" [disabled]="!register.Agree ">Register</button>
        </div>
    </div>

</div>